{:paths ["src" "resources"],
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases {:dev {:extra-deps {org.clojure/data.json {:mvn/version "0.2.6"}
                              enlive/enlive {:mvn/version "1.1.6"}
                              rewrite-clj/rewrite-clj {:mvn/version "0.6.1"}}}}}
